.fade-in {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
}

/* New class for fade from bottom */
.fade-from-bottom {
  transform: translateY(20px); /* Initial offset from bottom */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
