<div class="mx-5 my-5">
    <fal-card>
        @if(question$ | async; as question) {
        @if((studentPermission| async) && (question?.isSubmittedByStudent)){
        <div class="flex justify-end ...">
            <div class="p-2 bg-gray-200 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
                role="alert">
                <span
                    class="flex rounded-full bg-yellow-500 uppercase px-2 py-1 text-sm font-bold mr-3 text-slate-950">{{marked}}</span>
                <span class="font-thin mr-2 text-left flex-auto text-slate-950">Marked</span>
            </div>
        </div>
        }
        <div class="flex justify-between">
            <div class="flex flex-col">
                <span class="font-medium text-neutral-600">{{question?.assessment?.name}}</span>
                <span class="text-slate-700 font-thin text-sm">Created date : {{question?.createdDate | date }}</span>
            </div>
            <div>
                @if(!(studentPermission | async)){
                <button class="bg-slate-500" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <mat-icon class="text-slate-400 hover:text-black">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="menuAction(0, question.id)">
                        <mat-icon color="primary" class="text-base">edit</mat-icon>
                        <span class="font-thin">Edit</span>
                    </button>
                    <button mat-menu-item color="accent" (click)="menuAction(1, question.id)">
                        <mat-icon color="warn" class="text-base">delete</mat-icon>
                        <span class="font-thin">Delete</span>
                    </button>
                </mat-menu>
                }
            </div>
        </div>
        <div class="flex flex-col gap-5 mt-5">
            <div class="flex justify-start gap-5">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                    class="text-lg font-thin">
                    Q
                </button>
                <p class="inline-block align-middle text-slate-600 font-thin text-sm text-slate-400">
                    {{question?.question}}</p>
            </div>
            @if(!(studentPermission | async)){
            <div class="flex justify-start gap-5">
                <button mat-mini-fab aria-label="Example icon button with a menu icon" class="text-lg font-thin">
                    A
                </button>
                <p class="inline-block align-middle text-slate-600 font-thin text-sm text-slate-400">
                    {{question?.answer}}</p>
            </div>
            }@else {
            <div class="flex flex-col">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div>
                        <falcon-control [control]="studentAnswer" />
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" mat-stroked-button
                            [disabled]="question?.isSubmittedByStudent">Submit</button>
                    </div>
                </form>
            </div>
            }
        </div>
        @if(!(studentPermission | async)){
        <div class="flex justify-end">
            <a mat-stroked-button routerLink="./students">Student submission</a>
        </div>
        }
        }
    </fal-card>
</div>