<div class="container mx-auto mt-12">
  <div class="flex flex-col space-y-24">
    <div class="flex flex-row">
      <div class="flex basis-3/6 items-center justify-center">
        <div class="flex flex-col space-y-3">
          <h1>
            <span class="text-purple-600 text-2xl tracking-widest">New Thing:</span>
            <span class="text-2xl text-gray-800 font-bold">&nbsp; AWE.SOME</span>
          </h1>
          <p class="font-bold tracking-widest text-4xl text-black">Intro goes here...</p>
          <app-text-rotation-animation/>
          <p class="font-bold text-4xl tracking-widest">...think about it!</p>
        </div>
      </div>
      <div class="basis-3/6">
        <img src="../../assets/image/ai/student.svg" alt="student">
      </div>
    </div>
    <div class="flex justify-center">
      <button mat-flat-button color="primary">More information</button>
    </div>
    <div class="flex justify-center">
      <div class="flex flex-col space-y-14 w-3/4">
        <span class="text-2xl flex justify-center">AWE.SOME Heading</span>
        <span class="text-base flex justify-center">Maecenas pulvinar ultricies dolor, vitae sagittis nunc aliquam non. Cras vitae eros mi. Pellentesque ac orci mi. Ut dignissim tincidunt ex id tincidunt. Vivamus vitae erat vel tellus condimentum consectetur.</span>
        <img src="../../assets/image/ai/teacher.svg" alt="student">
      </div>
    </div>
    <div class="flex justify-center">
      <button mat-flat-button color="primary" class="font-thin">See how it works</button>
    </div>
    <div class="flex flex-row">
      <div class="flex basis-3/6 items-center justify-center">
        <div class="flex flex-col space-y-12">
          <div>
            <span class="text-purple-600 text-2xl">New Thing:</span>
            <span class="text-2xl text-gray-800 font-bold">AWE.SOME</span>
          </div>
          <span class="text-4xl font-bold text-black">Intro goes here...</span>
          <span class="font-bold text-4xl text-black">...think about it!</span>
        </div>
      </div>
      <div class="basis-3/6">
        <img src="../../assets/image/ai/check.png" alt="student">
      </div>
    </div>
  </div>
</div>
