<div class="mx-5 my-3">
    <div class="flex justify-between">
        <form [formGroup]="form">
            <falcon-control [control]="select" />
        </form>
        @if(permission | async){
        <div><a mat-flat-button routerLink="./new" routerLinkActive="active">Add question</a></div>
        }
    </div>
    <div class="flex flex-col gap-2 my-2">
        <div class="flex justify-between">
            <span class="text-slate-500 font-thin text-sm">Course: {{courseName }}</span>
            <span class="text-slate-500 font-thin text-sm">Matched: {{questionList.length }}</span>
        </div>
        @for (question of questionList; track question.id) {
        <a [routerLink]="['./detail/', question.id]">
            <fal-card class="hover:bg-gray-100">
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <span class="font-medium text-neutral-600">{{question?.assessment?.name}}</span>
                        <span class="text-slate-500 font-thin text-xs">Created date :
                            {{question?.assessment?.createdDate
                            | date }}</span>
                    </div>
                    <div (click)="$event.stopPropagation()">
                        @if(permission | async){
                        <button class="bg-slate-500" mat-icon-button [matMenuTriggerFor]="menu"
                            aria-label="Example icon-button with a menu">
                            <mat-icon class="text-slate-400 hover:text-black">more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon color="primary" class="text-base">edit</mat-icon>
                                <span class="font-thin">Edit</span>
                            </button>
                            <button mat-menu-item color="accent">
                                <mat-icon color="warn" class="text-base">delete</mat-icon>
                                <span class="font-thin">Delete</span>
                            </button>
                        </mat-menu>
                        }

                    </div>
                </div>
                <p class="text-slate-600 font-thin text-sm text-slate-400">{{question?.question}}</p>
                <div class="flex flex-col">
                    <span class="text-slate-400 font-thin text-xs">Due date : {{question?.assessment?.dueDate
                        | date }}</span>
                </div>
            </fal-card>
        </a>
        }
        @empty {
        <app-no-content />
        }
    </div>
    @if(questionList.length > 0){
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
    }
</div>