<div class="mx-14 my-10">
    <fal-card>
        @if(studentAssessment$ | async; as studentAssessment) {
        <div class="flex justify-between">
            <span class="font-thin text-gray-600 ml-5">{{studentAssessment.studentName}}</span>
            <button mat-mini-fab aria-label="Example icon button with a menu icon" class="text-lg font-thin mr-5">
                {{studentAssessment?.grade }}
            </button>
        </div>
        <div class="mx-2 my-4">
            <div class="flex flex-col gap-5">
                <div class="flex justify-start gap-5 w-full">
                    <p class="text-base font-thin leading-7 text-indigo-600 w-32">Assessment</p>
                    <p class="mt-6 text-xl leading-8 text-gray-700 font-thin">{{studentAssessment?.assessmentName
                        }}</p>
                </div>
                <div class="flex justify-start gap-5">
                    <p class="text-base font-thin leading-7 text-indigo-600 w-32">Question</p>
                    <h3 class="font-semibold mt-2 text-xl leading-8 text-gray-700 font-thin">
                        {{studentAssessment?.baseQuestion
                        }}
                    </h3>
                </div>
                <div class="flex justify-start gap-5">
                    <p class="text-base font-thin leading-7 text-indigo-600 w-32">Correct answer</p>
                    <p class="mt-6 text-base leading-8 text-gray-700 font-thin w-4/5">{{studentAssessment?.baseAnswer
                        }}</p>
                </div>
                <div class="flex justify-start gap-5">
                    <p class="text-base font-thin leading-7 text-indigo-600 w-32">Student answer</p>
                    <p class="mt-6 text-base leading-8 text-gray-700 font-thin w-4/5">{{studentAssessment?.answer }}</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="">
                <ul role="list" class="mt-8 space-y-8 text-gray-600">
                    <li class="flex gap-x-3">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat" color="primary">
                        </mat-icon>
                        <p><strong class="font-semibold text-gray-900">Comments.</strong><span
                                class="font-thin text-gray-600">
                                <div class="p-4 text-sm text-blue-800 rounded-lg bg-gray-200" role="alert">
                                    <span class="font-medium">{{studentAssessment?.suggestion }}</span>
                                </div>
                            </span></p>
                    </li>
                    <li class="flex gap-x-3 gap-5">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="difference"
                            color="primary"></mat-icon>
                        <p><strong class="font-semibold text-gray-900">Percentage score.</strong>
                            <button mat-mini-fab aria-label="Example icon button with a menu icon"
                                class="text-lg font-thin ml-5">
                                20%
                            </button>
                        </p>
                    </li>
                    <li class="flex gap-x-3 gap-5">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="grade" color="primary">
                        </mat-icon>
                        <p><strong class="font-semibold text-gray-900">Grade.</strong>
                            <button mat-mini-fab aria-label="Example icon button with a menu icon"
                                class="text-lg font-thin ml-5">
                                {{studentAssessment?.grade }}
                            </button>
                    </li>
                </ul>
            </div>
        </div>
        }
    </fal-card>
</div>