<div class="mx-3">
  <mat-nav-list>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <a mat-list-item matTreeNodeToggle [routerLink]="[node.link]"><span class="font-thin">{{node.name}}</span></a>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <a mat-list-item matTreeNodeToggle [routerLink]="['/', node.link]">
          <div class="flex gap-2">
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <span class="font-thin">{{node.name}}</span>
          </div>
        </a>
      </mat-tree-node>
    </mat-tree>
  </mat-nav-list>
</div>