<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  @defer {
  <app-toolbar [sidenav]="sidenav" />
  }
  <mat-divider></mat-divider>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    @if(authService.isLoggedIn()) {
    <mat-sidenav #sidenav opened [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <app-toolbar-menu />
    </mat-sidenav>
    }
    <mat-sidenav-content style="min-height: 400px;">
      <fetebird-bread-crumb />
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer />
</div>