<div class="mx-20 my-10">
    @if(studentAssessments.length > 0) {
    <fal-card>
        <ul role="list" class="divide-y divide-gray-200" style="margin-right: 3%;">
            @for(studentAssessment of studentAssessments; track studentAssessment){
            <li class="flex justify-between gap-x-6 py-5">
                <div class="flex min-w-0 gap-x-4">
                    <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                        src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" alt="">
                    <div class="min-w-0">
                        <p class="text-sm leading-6 text-gray-900">{{studentAssessment?.user?.firstName}}
                            {{studentAssessment?.user?.lastName}} /
                            {{studentAssessment?.user?.email}}
                        </p>
                        <p class="truncate text-sm font-thin leading-5 text-gray-500">
                            {{studentAssessment?.question?.answer}}</p>
                    </div>
                </div>
                <div class="flex justify-start gap-2 shrink-0 items-center">
                    @if(showResult){
                    <button mat-stroked-button
                        (click)="evaluateWithAIClick(studentAssessment?.question?.answer, studentAssessment?.question?.studentId,studentAssessment?.question?.id, studentAssessment?.user?.email)">Evaluate
                        with AI</button>
                    }
                    @if(isScore){
                    <a [routerLink]="['../score']"
                        [queryParams]="{ questionId: studentAssessment?.question?.id, studentId: studentAssessment?.user?.id}"
                        mat-stroked-button>View
                        score</a>
                    }
                    @if(isEvaluate){
                    <button mat-stroked-button disabled>
                        Thinking ...
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </button>
                    }
                </div>
            </li>
            @if(studentAssessments.length > 1){
            <mat-divider></mat-divider>
            }
            }
        </ul>
    </fal-card>}
    @else {
    <app-no-content />
    }

</div>