<div class="mx-5 my-5">
    <fal-card [backgroundColor]="'#f7fafc'">
        <div class="p-5">
            <div class="flex justify-between">
                <div>
                    <span class="text-lg">Assessment</span>
                    <p class="font-thin">A list of all the assessment created by you including their name, description
                        and due date</p>
                </div>
                <div>
                    @if((permission | async)?.editPermission){
                    <a mat-flat-button routerLink="./new" routerLinkActive="active">Add assessment</a>
                    }
                </div>
            </div>

            <app-table [headers]="headers" [dataSource]="assessmentData" [headerToKeyMap]="headerToKeyMap"
                [permission]="permission | async" (viewEmitterAction)="viewEmitterAction($event)"
                (editEmitterAction)="editEmitterAction($event)" (deleteEmitterAction)="deleteEmitterAction($event)" />

        </div>
    </fal-card>
</div>